.swiper {
    width: 73px;
    height: 48px;
}

.swiperSlide {
    display: flex;
    width: 73px;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    cursor: pointer;
}