/* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol,
li,
form {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  background-color: #FEFCFF;
  background-image: url("./assets/images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover; 

  @media screen and (min-width: 768px) {      
    background-image: url("./assets/images/bg-tablet.png");
  }

  @media screen and (min-width: 1280px) {
    background-image: url("./assets/images/bg-desktop.png");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}